<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Weather App - After Year</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      WEB-INF/bootcamp-weather-after-year-servlet.xml
    </param-value>
  </context-param>

  <servlet>
    <description>Spring Dispatcher Servlet</description>
    <display-name>springServlet</display-name>
    <servlet-name>bootcamp-weather-after-year</servlet-name>
    <!-- Spring Servlet allow to use @RequestMapping and @GET from jax-rs -->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet-mapping>
    <servlet-name>bootcamp-weather-after-year</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>


</web-app>
